<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
</head>
<body>
    {% block content %}
    <h1>HOME TEMPLATE</h1>
    <div>
        <div>
            {% for room in rooms %}
            <div>
                <h5>{{room.id}} -- <a href="{% url 'room' room.number %}">{{room.name}}</a></h5>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>